@import "bootstrap-sprockets";
@import "bootstrap";


// .navbar-inverse {
//      background-color: #222;
//      border-color: #080808;
// }

// application.html.erb
.navbar {
 background-color: #D3F0EC;
} .navbar-header {
  font-size: 40px;
} .navbar-header :hover {
  text-decoration: none;
}


// root
.banner {
  color: #080808;
  width: 100%
}
.product {

} a {
  width: 300px;
}
