<h1> reviews/index page</h1>

<h3>Newest Items</h3>

<h3>Most reviewed</h3>

<p> about us gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock </p>

<h4><%= link_to "Shop All", products_path %></h4>
